form(action="/main-action", method="POST", predictionLevel=question.predictionLevel appId=question.appId indexQuestion=indexQuestion descLength=question.descLength style="padding: 0 15px") 
  input(type="hidden" name="questions[" + question.id + "][time]" value=1 class="count-time")
  
  button(type="submit" style="display='none';")
  // app name
  h3.title.text-center
    | Android Application #{indexQuestion}
  div.text-center.mt-1
    | Developer
  div.text-center
    | Category name
  // category
  //- .category.text-center.mt-2
  //-   span.category-label
  //-     | Category
  //-   | : #{question.categoryName}
  .step.wizard-step.current.mt-3(style='')
    //- // Description
    //- .description.mt-3
    //-   span.description-lavel.font-weight-bold
    //-     | I – Description:
    //-   div
    //-     | !{question.description}


    // Collection Personal Data
    .section1.mt-3
      // label
      .section1-label.font-weight-bold
        | This app may collect X (số lượng các personal data type của ứng dụng đó thu thập mình có tổng cộng là 7) personal data type, namely:Location, Media, …
      // node data
      .wrap-node
        ul 
          li 
            | kaka
            div - API1
            div - API2
        
    // Collection Personal Data
    .section2.mt-3
      // label
      .section2-label.font-weight-bold
        | Data Collection Purpose:
      // node data
      .wrap-node
        ul 
          li 
            | Admin: (Cái nào có (1) hã liệt kê nha em)
            div - Analysis: Đưa những đoạn test liên quan vào đây giúp anh (nhưng phải ấn dấu (+) thì mới hiện ra ko thì chỉ hiện label của từng purpose thôi)
            div - Advertisement:

  
    // comments
    .comments-data-judgement.mt-3
      .final-judgement
        //- // label
        //- .comments-data-label.font-weight-bold.text-underline
        //-   | II - Final judgment
        // final question
        .question-1.mt-2
          .title Do you want to install this app?
          // anwsers
          .anwsers.mt-2
            label.container-radio
              | Yes
              input(type='radio' class="final-question" name="questions[" + question.id + "][final]" value="1" required)
              span.checkmark

            label.container-radio
              | No
              input(type='radio' class="final-question" name="questions[" + question.id + "][final]" value="2")
              span.checkmark

            label.container-radio
              | Maybe
              input(type='radio' class="final-question" name="questions[" + question.id + "][final]" value="3")
              span.checkmark

