extends ../survey-layout
block survey-content
  input(type="hidden" name="token" value=token)
  .question-desc.mt-3
    .wrap-forms
      
      each question, index in questions
        - var isActive =  index === 0 ? 'slick-active slick-current' : '';
        // item
        .slider-item(class=isActive)
          // app id
          input(type="hidden" class="app-id" value=question._id)
          input(type="hidden" class="status" value=0)
          input(type="hidden" class="index" value=index + 1)
          div.wrap-form
      .slider-item
        form(action="/handle-answer", method="POST", class="main-form", id="form-" + index indexQuestion=questions.length + 1) 
          input(type="hidden" class="index" value=questions.length + 1)
          .wrap-comments-data
         
          
          .wrap-btn-next
              button.login100-form-btn.button-next Submit
          //- .wrap-btn-pre
          //-   button.login100-form-btn.button-pre.slick-prev Back

 
  // Modal
  #errorModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Error
      
        .modal-body
          | Unfortunately something went wrong
        .modal-footer
          button.btn.btn-primary#btn-err(type="button" data-dismiss="modal") Try again

block scriptsCustom
  script(src='/js/question.js')